:root{
	--lineBColor: red;
	--lineWidth: 10;
}

.fill_line{
	fill: none;
	stroke-width: var(--lineWidth);
	stroke: var(--lineBColor);
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 0, 1000;
    stroke-dashoffset: 0;
    animation: lxj 2s linear 2 alternate;
}

@keyframes lxj{
	0%{
		stroke-dasharray: 0, 1000;
	}
	80%{
		stroke-dasharray:125, 125;
		stroke-dashoffset: 250;
	}
	100%{
		stroke-dasharray:1000, 0;
		stroke-dashoffset: 0;
	}
}

/* 2 */
.menuShape{
	fill: none;
	stroke-width: 2;
	stroke: orange;
	stroke-dasharray: 200 560;
	stroke-dashoffset: -280;
	z-index: 1;
	transition: all linear 0.3s;
}
.menuSvg{
	position: relative;
	display: inline-block;
}
.menuSvg:hover .menuShape{
	stroke-dasharray: 560 0;
	stroke-dashoffset: 0;
	stroke-width: 1;
}
.menuText{
	width: 100%;
	position: absolute;
	left: 0;
    top: 0;
    line-height: 80px;
    text-align: center;
}